<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"/>
    <!-- Mumble UI -->
    <link rel="stylesheet" th:href="@{/uikit/styles/uikit.css}"/>
    <!-- Dev Search UI -->
    <link rel="stylesheet" th:href="@{/styles/app.css}"/>
    <title>Hansel</title>

</head>

<body>
<div th:replace="main/nav :: header"></div>

<!-- Main Section -->
<main class="home">
    <section class="devlist">
        <div class="container">
            <div th:if="${notices.getTotalElements()==0}">
                <h3 style="text-align:center;">작성된 공지사항이 없습니다.</h3>
            </div>
            <div class="grid grid--three" th:if="${notices.getTotalElements()!=0}">
                <div class="column card" th:each="n : ${notices}">
                    <div class="dev">
                        <a class="card__body" th:href="@{/notices/{id}(id=${n.id})}">
                            <div class="dev__profile">
                                <div class="dev__meta">
                                    <h3 th:text="${n.title}"></h3>
                                    <h5 th:text="${n.created}">생성일자</h5>
                                </div>
                            </div>
                            <p class="dev__info" th:text="|${#strings.abbreviate(n.content,10)}...|">내용 짧게</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="pagination" th:if="${notices.getTotalElements()!=0}">
        <ul class="container"
            th:with="start = ${paging.start}, last=${paging.last}">
            <li th:style="${notices.first} ? 'display:none'">
                <a th:href="${notices.first} ? '#' : @{/notices/(page=${paging.number})}" class="btn">&#10094; Prev</a>
            </li>
            <li th:each="p : ${#numbers.sequence(start,last)}">
                <a th:if="${p==paging.number+1 }"
                   th:href="@{/notices/(page=${p})}"
                   th:text="${p}"
                   class="btn btn--sub">num</a>

                <a th:if="${p!=paging.number+1}"
                   th:href="@{/notices/(page=${p})}"
                   th:text="${p}"
                    class="btn">num</a>
            </li>
<!--            paging.number = 현재 페이지, start = 페이징에서 첫번째, last=페이징에서 마지막,-->
            <li th:style="${notices.last} ? 'display:none'">
                <a th:href="${notices.last} ? '#' : @{/notices/(page=${notices.number+2})}" class="btn">Next &#10095;</a>
            </li>
        </ul>
    </div>
</main>
</body>
</html>