<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"/>
    <!-- Mumble UI -->
    <link rel="stylesheet" th:href="@{/uikit/styles/uikit.css}"/>
    <!-- Dev Search UI -->
    <link rel="stylesheet" th:href="@{/styles/app.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>로그인</title>
    <style>
            .field-error {
 border-color: #dc3545;
 color: #dc3545;

    </style>
</head>

<body>
<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <a th:href="@{/}">
                <img src="images/icon.svg" alt="icon"/>
            </a>
            <h3>Account Login</h3>
            <p>Hello Developer, Welcome Back!</p>
        </div>

        <form th:action="@{/login}" class="form auth__form" method="post">
            <!-- Input:Email -->
            <div class="error">
                <p class="field-error" id="err"></p>
            </div>
            <div class="form__field">
                <label for="loginId">아이디: </label>
                <input class="input input--text"
                       id="loginId"
                       type="text"
                       name="loginId"
                       placeholder="Enter your username..."
                />
            </div>
<!--            <div class="field-error" th:errors="*{loginId}"></div>-->


            <!-- Input:Password -->
            <div class="form__field">
                <label for="password">비밀번호: </label>
                <input class="input input--password"
                       id="password"
                       type="password"
                       name="password"
                       placeholder="••••••••"
                />
            </div>
<!--            <div class="field-error" th:errors="*{password}"></div>-->

            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="button" th:onclick="login()" value="Log In" />
                <a th:href="@{/forget-password}">비밀번호 찾기</a>
            </div>
        </form>
        <div class="auth__alternative">
            <p>아이디가 없으신가요?</p>
            <a th:href="@{/signup}">일반 사용자 회원가입</a><br>
            <a th:href="@{/signup-seller}">사업자 회원가입</a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</html>
